<h3 id="c-bachelorette"><span>Renée's Bachelorette Party!</span></h3>
<div id="c-custom-container">
<div class="c-intro"><p>Friday-Sunday | September 5-7<br>
A weekend celebrating the bride-to-be!<br>
Hosted by the bridesmaids.</p>
<p>Please join us for all or as many events as you'd like. :)</p>
<p>► Send RSVPs & questions to Jenny at jennygwharram@gmail.com ◄</p></div>	<div class="c-odd">
	<div class="c-photo">
		<%= image_tag("Raindancespa.jpg", alt: "Friday, September 5") %></div>
		<div class="c-subtitle">
			<h4>Friday, September 5</h4>
		</div>
		<div class="c-info">
			<p class="c-phone">Raindance Spa</p>
			<p class="c-link"><a href="http://www.marriott.com/spas/sfols-the-lodge-at-sonoma-renaissance-resort-and-spa/raindance-spa/5014378/services.mi" target="_blank" rel="nofollow">View Website</a></p>
		</div>
		<div class="c-text">
			<p>11 AM ● Treatments at Raindance Spa<br>
			→ Our own private outdoor cabana<br>
			→ All-day access to eucalyptus steam rooms, outdoor whirlpools, and warm soaking pools.<br>
			→ View Raindance website for services.<br>
			7 PM ● Dinner<br>
			Overnight ● Hotel Petaluma</p>
		</div>
	</div>
	<div class="c-even">
		<div class="c-photo">
			<%= image_tag("SonomaCounty.jpg", alt: "Saturday, September 6") %></div>
		<div class="c-subtitle">
			<h4>Saturday, September 6</h4>
		</div>
		<div class="c-info">
		</div>
		<div class="c-text">
			<p>10:30 AM ● Meet the limo at Hotel Petaluma<br>
			11 AM - 5 PM ● Wine Tasting in Sonoma County<br>
			7 PM ● Dinner at Fumé Bistro in Napa<br>
			Overnight ● Hotel Petaluma</p>
		</div>
	</div>
	<div class="c-odd">
		<div class="c-photo">
			<%= image_tag("TheGirlandtheFig2.JPG", alt: "Sunday, September 7") %></div>
		<div class="c-subtitle">
			<h4>Sunday, September 7</h4>
		</div>
		<div class="c-info">
		</div>
		<div class="c-text">
			<p>11 AM ● Brunch at The Girl and the Fig<br>
				→Country food with a French passion</p>
		</div>
	</div>
	<div class="c-even">
		<div class="c-photo">
			<%= image_tag("hotel-petaluma_1.jpg", alt: "Hotel Petaluma") %></div>
		<div class="c-subtitle">
			<h4>Hotel Petaluma</h4>
		</div>
		<div class="c-info">
			<p class="c-address">Friday and/or Saturday nights</p>
			<p class="c-phone">707.762.4531</p>
			<p class="c-map"><a href="https://www.google.com/maps/place/Hotel+Petaluma/@38.235566,-122.642444,17z/data=!3m1!4b1!4m2!3m1!1s0x8085b41d9bcb5027:0x276e5d5e9c2bcf39?hl=en" target="_blank" rel="nofollow">View Map</a></p>
		</div>
		<div class="c-text">
			<p>→ A room block has been made in Renée's name at the quaint and historic Hotel Petaluma.<br>
			→ Each room has two beds. Not only are roommates fun, but you get to split the cost of the room.  ;)<br>
			→ Please call Hotel Petaluma to make your reservation. Be sure to tell them that you are with Renée Kinsella's bachelorette party.</p>
		</div>
	</div>
</div>

		</div>
	</div>