<h3>Welcome</h3>
<p>It's <%= Time.now.strftime('%b %-d %Y, %H:%M:%S') %></p>
<p>We have:</br>
	<%= pluralize(@total_posts, "guestbook post") %></br>
	<%= link_to pluralize(@total_reservations, "RSVP"), reservations_index_path %></p>