<h3 id="c-accommodations-title"><span>Accommodations</span></h3>
<div id="c-accommodations-container">
<div class="c-intro"><p>For the comfort and convenience of our guests, we have reserved a block of rooms at Avatar Hotel and Marriott. To receive discounted rates, please reference the "Kinsella/Wigginton Wedding" when making your reservation.</p></div>	<div class="c-odd">
		<div class="c-subtitle">
			<h4>Avatar Hotel</h4>
		</div>
				<div class="c-photo">
			<%= image_tag("avatar.jpg", alt: "$119 per night
Last day to book: 9/26/14
- Complimentary cooked to order buffet breakfast.
- Complimentary reception each evening with snacks and beverages.
- Complimentary overnight parking.") %></div>
				<div class="c-info">
			<p class="c-phone">408-235-8900</p>
			<p class="c-address">4200 Great America Parkway</p>
			<p class="c-city">Santa Clara, CA 95054</p>
			<p class="c-link"><a href="http://www.jdvhotels.com/hotels/california/silicon-valley-hotels/avatar-hotel" target="_blank" rel="nofollow">View Website</a></p>
			<p class="c-map"><a href="https://www.google.com/maps/place/Avatar+Hotel+-+a+Joie+de+Vivre+Hotel/@37.391572,-121.977138,17z/data=!3m1!4b1!4m2!3m1!1s0x808fc9c23f13f4ed:0xa1670476e196cc98?hl=en" target="_blank" rel="nofollow">View Map</a></p>
		</div>
		<div class="c-text">
			<p>$119 per night<br>
			Last day to book: 9/26/14<br>
			- Complimentary cooked to order buffet breakfast.<br>
			- Complimentary reception each evening with snacks and beverages.<br>
			- Complimentary overnight parking.</p>
		</div>
	</div>
	<div class="c-even">
		<div class="c-subtitle">
			<h4>Marriott of Santa Clara</h4>
		</div>
				<div class="c-photo">
			<%= image_tag("marriott.jpg", alt:"$149 per night
			$3-9 for parking
			Last day to book: 9/19/14") %></div>
				<div class="c-info">
			<p class="c-phone">800-578-9986</p>
			<p class="c-address">2700 Mission College Blvd.</p>
			<p class="c-city">Santa Clara, CA 95054</p>
			<p class="c-link"><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Kinsella%20%26%20Wigginton%20Wedding%20%5Esjcga%60KWWKWWA%60149.00%60USD%60false%6010/17/14%6010/19/14%609/19/14&app=resvlink&stop_mobi=yes" target="_blank" rel="nofollow">View Website</a></p>
			<p class="c-map"><a href="https://www.google.com/maps/place/Santa+Clara+Marriott/@37.390708,-121.973841,17z/data=!3m1!4b1!4m2!3m1!1s0x808fc9c22c1f2e65:0x19676fb4c9784b45?hl=en" target="_blank" rel="nofollow">View Map</a></p>
		</div>
		<div class="c-text">
			<p>$149 per night<br>
			$3-9 for parking<br>
			Last day to book: 9/19/14</p>
		</div>
	</div>
</div>

		</div>
	</div>