<h3 id="c-custom-title"><span>Child Care Needs during Ceremony</span></h3>
<div id="c-custom-container">
<div class="c-intro"><p>We kindly ask that all children under 10 years old attend the child care that will be provided. We know that ceremonies can be, well, a bit boring for our wiggly wee ones.  :)</p>
<p>And to alleviate any anxiety parents may have about placing their children into the care of others, please know that our child care providers are trusted and used by many parents at the church. They have gone through background checks, finger printing, and are safe church trained.</p>
<p>Please note the name and age of your children when you RSVP so that we can ensure we have a suitable number of child care providers.</p>
</div></div>

		</div>
	</div>