<h3 id="c-events-title"><span>Wedding Events</span></h3>
<div id="c-events-container">
<div class="c-intro"><p>To all of our friends and family: You're invited!<br>
Please mark your calendars for October 18, 2014, to attend our wedding ceremony and dessert reception.</p>
<p>Note for Parents:<br>
We love your wee ones! However, ceremonies can be a bit boring for the kiddos. Therefore, we kindly request that children ages ten and under not attend the ceremony. Child care will be provided.</p></div>	<div class="c-odd">
		
		<div class="c-info">
			<p class="c-date">Saturday • October 18 • 2014<br/>Four o'clock in the afternoon
			</p>
			
		<div class="c-subtitle">
			<h4>Ceremony</h4>
		</div>
				<div class="c-photo">
			<%= image_tag("svpcFall.jpg", alt: "Sunnyvale Presbyterian Church") %></div>
					<p class="c-location">Sunnyvale Presbyterian Church</p>
								<p class="c-map"><a href="https://www.google.com/maps/place/Sunnyvale+Presbyterian+Church/@37.351803,-122.0429206,17z/data=!3m1!4b1!4m2!3m1!1s0x808fb681e88c1dcf:0xccd2096cae3228ff" target="_blank" rel="nofollow">View Map</a></p>
			<p class="c-link"><a href="http://www.svpc.us" target="_blank" rel="nofollow">View Website</a></p>
		</div>
		<div class="c-text">
			<p>This is not just the church for which we both work, but it's also a place we've made friends and extended "family." We're so grateful to the SVPC community for their love and support as our relationship grew. There are so many people who have played significant roles in nurturing and guiding us, both individually and as a couple. The SVPC sanctuary is where we first met and we're so excited that it is where our marriage will begin.</p>
		</div>
	</div>
	<div class="c-even">
		
		<div class="c-info">
			
			
		<div class="c-subtitle">
			<h4>"Love is Sweet" Dessert Reception</h4>
		</div>
				<div class="c-photo">
			<%= image_tag("cupcakes.jpg", alt: "Following the ceremony") %></div>
					<p class="c-location">Following the ceremony</p>
			<p class="c-phone">Fellowship Hall</p>
			<p class="c-map"><a href="https://www.google.com/maps/place/Sunnyvale+Presbyterian+Church/@37.351803,-122.0429206,17z/data=!3m1!4b1!4m2!3m1!1s0x808fb681e88c1dcf:0xccd2096cae3228ff" target="_blank" rel="nofollow">View Map</a></p>
		</div>
		<div class="c-text">
			<p>All are invited to join us for a dessert reception following the ceremony. We want to thank everyone for sharing in our special day! Please <%= link_to 'RSVP', new_reservation_path %> so that we can get an accurate count. We'd like to make sure there are enough goodies for all.</p>
		</div>
	</div>
</div>

		</div>
	</div>