<h3 id="c-custom-title"><span>Our Parents</span></h3>
<div id="c-custom-container">
	<div class="c-intro"><p>The people who gave us life and made us who we are today. Eternal thanks for the unconditional love and encouragement of these four people.</p></div>
	<div class="c-photo">
		<%= image_tag("family.png", alt: "Our Family") %>
	</div>
	<div class="c-odd">
		<div class="c-subtitle">
			</br>
			<h4>Tim & Deb Kinsella</h4>
		</div>
		<div class="c-info">
			<p class="c-city">Littleton, Colorado </p>
		</div>
		<div class="c-text">
			<p>Renée's parents have been married for over 30 years, so she's had plenty of time to observe what a beautiful marriage looks like: adventurous, loving, messy, imperfect, wild, and forgiving. It's a wonderful thing to grow up with that kind of inspiration.</p>
		</div>
	</div>
	<div class="c-even">
		<div class="c-subtitle">
			<h4>Randy & Barbara Wigginton</h4>
		</div>
		<div class="c-info">
			<p class="c-city">Willow Glen, California </p>
		</div>
		<div class="c-text">
			<p>Ken is so grateful for his parents and the job they did raising him.  Throughout his youth, they taught him kindness, patience, forgiveness, and faithfulness.  Without those qualities observed in his parents, Ken wouldn't be the man he is today.</p>
			</div>
	</div>
</div>

		</div>
	</div>