// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reservation_roomaccomodation {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#reservation_childcare {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}