<h3 id="c-registries-title"><span>Gift Registries</span></h3>
<div id="c-registries-container">
<div class="c-intro"><p>Should you wish to honor us with a gift, we hope that this registry will<br />
make it more convenient for you to select something that you know we will love.</p>
<p>Love,<br />
Ken &amp; Renée</p></div>
	<div class="c-odd">
		<div class="c-subtitle">
							<h4>
									<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=11013665&eventType=Wedding&pwsurl=?mcid=EM_triggeredem_emailregistryplural__allpromos" onclick="return MW.util.gaTrackOutbound(this,'Registry Partners - FWW');" target="_blank">
						Bed Bath & Beyond
					</a>
							</h4>
				</div>
		<div class="c-info">
						<p class="c-link">
				<a
					rel="nofollow"
					href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=11013665&eventType=Wedding&pwsurl=?mcid=EM_triggeredem_emailregistryplural__allpromos"
					onclick="return MW.util.gaTrackOutbound(this,'Registry Partners - FWW');"
					target="_blank">
					Go to registry
				</a>
			</p>
																	</div>
				<div class="c-text">
						<p>Registry Number 11013665</p>
		</div>
			</div>
</div>


		</div>
	</div>